/* Custom Stylesheet */
/* materialize colors: http://materializecss.com/color.html */




/* setup tooltips */
.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}


.tooltip.newstip:after {
  border-right: 10px solid transparent;
  border-bottom: 10px solid #00c853; 
  border-left: 10px solid transparent;
  content: '';
  height: 0;
  top: 64px;
  left: 0;
  width: 0;
}

.tooltip.newstip:before {
  background: #00c853;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 0 10px;
  top: 74px;
  white-space: nowrap;
}


.tooltip.blogtip:after {
  border-right: 10px solid transparent;
  border-bottom: 10px solid #448aff; 
  border-left: 10px solid transparent;
  content: '';
  height: 0;
  top: 64px;
  left: 0;
  width: 0;
}

.tooltip.blogtip:before {
  background: #448aff;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 0 10px;
  top: 74px;
  white-space: nowrap;
}

.tooltip.abouttip:after {
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2979ff; 
  border-left: 10px solid transparent;
  content: '';
  height: 0;
  top: 64px;
  left: 0;
  width: 0;
}

.tooltip.abouttip:before {
  background: #2979ff;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 0 10px;
  top: 74px;
  white-space: nowrap;
}

.tooltip.communitytip:after {
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2962ff; 
  border-left: 10px solid transparent;
  content: '';
  height: 0;
  top: 64px;
  left: 0;
  width: 0;
}

.tooltip.communitytip:before {
  background: #2962ff;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 0 10px;
  top: 74px;
  white-space: nowrap;
}


/* the animations */
/* fade */
.tooltip:after,
.tooltip:before {
  transform: translate3d(0,-10px,0);
  transition: all .2s ease-in-out;
}
.tooltip:hover:after,
.tooltip:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}










nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.all-style{
  font-family: roboto;
  
}

#algora-banner{
  background-color: rgba(255, 255, 255, 0);
}
/* header navbar section applies 
to all header navbar buttons */

.header-color{
  background-color: #0091EA;

}

#news_nav:hover{
  background-color: #00c853;
}

#blog_nav:hover{
  background-color: #448aff;
}

#account_nav:hover{
  background-color: #2962ff;
}

#algora-logo{
  margin-bottom: -4px;
}


#algora-logo-side-nav{
  margin-bottom: -4px;
  margin-right: 30px;
}

#about_nav:hover{
  background-color: #2979ff;
}


#logo-container{
  padding: 0 20px;
}
#logo-container:hover{
  background-color: #2196f3;
}

#nav-mobile{
  background-color: #2196f3;
}



/* body icon section */
.ct-chart .ct-series .ct-line {
  stroke: #2196f3;
  stroke-width: 2px;
}

.ct-chart .ct-series .ct-point {
  /* Colour of your points */
  stroke: #2196f3;
}


#header-achievements{
  outline-style:solid;
  outline-color: #2196f3;
  padding: 30px;
  margin-top: 30px;
  font-family: ailerons;
}


.div-ext{
  margin: 20px 30px 20px 20px ; */
}

.js-chart{
  padding-right: 40px;
  padding-left: 40px;
}

.info-container{
  -webkit-transition: .5s; /* Safari */
  transition: .5s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}

.info-container:hover{
  margin-top: -30px;
}

.icon-block{
  outline-style:solid;
  outline-color: #2196f3;
  color: black;
}

.nav-wrapper {
  font-family: ailerons;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}



.l-main-title{
  text-align: center;
  font-size: 50px;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 100px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


/* footer for social media and copyright */

.list-inline li{
  display: inline;
  padding: 0 10px;
}

#twitter-logo{
  margin-bottom: 9px;
}

footer.page-footer {
  margin: 0;
}



